/* O fundo é configurado por aqui pois é um elemento geral */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    color: gray;
}
h1{
    text-align: center;
}

input[type=text], input[type=email], input[type=password], input[type=tel],
input[type=date], textarea, select, input[type=submit], input[type=reset] {
    background-color: #C4C4C4;
    padding: 20px;
    margin: 15px 5px 15px 5px;
    border: 30px;
    border-radius: 8px;
    width: -webkit-fill-available;
}

input[type=submit] {
    width: -webkit-fill-available;
    margin-left: 30%;
    margin-right: 30%;
}

::placeholder {
    color: gray;
}

body {
    background-color: #BABAB5;
}

main {
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

#logo {
    width: 90%;
    padding: 5% 5% 0 5%;
}

#div_central {
    padding: 2% 1% 2% 1%;
}
@media (max-width: 700px){

    main{
        display: block;
    }
    main img{
        display: none;
    }
    
}


