.login {
    background-color: #E5E5E5;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 30px;
    margin: 0 auto 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;
    /* Ver como centralizar isso direito */
}

body {
    background-color: #BABAB5;
}

.login img{
    width: 300px;
    padding: 3% 0 3% 0;
}

.login form {
    width: 100%;
}

#email, #senha {
    width: -webkit-fill-available;
}
#submeter {
    width: -webkit-fill-available;
    margin-left: 30%;
    margin-right: 30%;
}
