.login {
    background-color: #E5E5E5;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.login img{
    width: 210px;
    padding: 0 60px 0 60px;
}

.login form {
    width: 100%;
}

#email, #senha {
    width: -webkit-fill-available;
}

#erroLog {
    color: red;
}

@media (max-width: 700px) {
    .login img{
        width: 210px;
        padding: 10px 0 10px 0;
    }
    
}
