#testeR{
    display: grid;
    grid-template-columns: 20% 20%;
    margin: 5px;
   
}
#radio{
   margin-top: 15px;
}
#form {
    margin-top: 5%;
}

@media (max-width: 700px){
    #testeR{
        display: block;
    }
}
